/*
 * Hoisin.scss
 * CSS responsive framework boilerplate
 * Create your own grids, plugin anything
 * Version: 0.9.4
 * Created by: Cyber-Duck Ltd <info@cyber-duck.co.uk>,
 *             Ramon Lapenta <me@ramonlapenta.com>
 *
 */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

.container {
  width: 1080px;
  margin: 0 auto;
}

.col2 {
  width: 140px;
  float: left;
  margin: 0 20px;
}

.col3 {
  width: 230px;
  float: left;
  margin: 0 20px;
}

.col4 {
  width: 320px;
  float: left;
  margin: 0 20px;
}

.col5 {
  width: 410px;
  float: left;
  margin: 0 20px;
}

.col6 {
  width: 500px;
  float: left;
  margin: 0 20px;
}

.col7 {
  width: 590px;
  float: left;
  margin: 0 20px;
}

.col8 {
  width: 680px;
  float: left;
  margin: 0 20px;
}

.col9 {
  width: 770px;
  float: left;
  margin: 0 20px;
}

.col10 {
  width: 860px;
  float: left;
  margin: 0 20px;
}

.col11 {
  width: 950px;
  float: left;
  margin: 0 20px;
}

.col12 {
  width: 1040px;
  float: left;
  margin: 0 20px;
}

.pre1 {
  padding-left: 90px;
}

.pre2 {
  padding-left: 180px;
}

.pre3 {
  padding-left: 270px;
}

.pre4 {
  padding-left: 360px;
}

.pre5 {
  padding-left: 450px;
}

.pre6 {
  padding-left: 540px;
}

.pre7 {
  padding-left: 630px;
}

.pre8 {
  padding-left: 720px;
}

.pre9 {
  padding-left: 810px;
}

.pre10 {
  padding-left: 900px;
}

.pre11 {
  padding-left: 990px;
}

.suf1 {
  padding-right: 90px;
}

.suf2 {
  padding-right: 180px;
}

.suf3 {
  padding-right: 270px;
}

.suf4 {
  padding-right: 360px;
}

.suf5 {
  padding-right: 450px;
}

.suf6 {
  padding-right: 540px;
}

.suf7 {
  padding-right: 630px;
}

.suf8 {
  padding-right: 720px;
}

.suf9 {
  padding-right: 810px;
}

.suf10 {
  padding-right: 900px;
}

.suf11 {
  padding-right: 990px;
}

.colr {
  float: right;
  margin: 0 20px;
}

.alpha {
  margin-left: 0;
}

.omega {
  margin-right: 0;
}

.clear {
  clear: both;
}
