/*
 * Hoisin.scss
 * CSS responsive framework boilerplate
 * Create your own grids, plugin anything
 * Version: 0.9.18
 * Created by: Cyber-Duck Ltd <info@cyber-duck.co.uk>,
 *             Ramon Lapenta <me@ramonlapenta.com>
 *
 */
.container {
  display: grid;
  grid-template-rows: auto;
  margin: 0 auto;
  box-sizing: border-box;
  justify-items: stretch;
  gap: 0;
}

.span {
  box-sizing: border-box;
  display: flex;
}

@media (min-width: 720px) {
  .container.grid-reverse .span:nth-child(1) {
    order: 6;
  }
  .container.grid-reverse .span:nth-child(2) {
    order: 5;
  }
  .container.grid-reverse .span:nth-child(3) {
    order: 4;
  }
  .container.grid-reverse .span:nth-child(4) {
    order: 3;
  }
  .container.grid-reverse .span:nth-child(5) {
    order: 2;
  }
  .container.grid-reverse .span:nth-child(6) {
    order: 1;
  }
}
@media (min-width: 1140px) {
  .container {
    width: 1032px;
    padding: 0 math-div(0, 2);
  }
  .container.l-sp-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .container.l-sp-3 {
    grid-template-columns: repeat(3, 1fr);
  }
  .container.l-sp-4 {
    grid-template-columns: repeat(4, 1fr);
  }
  .container.l-sp-5 {
    grid-template-columns: repeat(5, 1fr);
  }
  .container.l-sp-6 {
    grid-template-columns: repeat(6, 1fr);
  }
  .container.l-wside-r {
    grid-template-columns: 2fr 1fr;
  }
  .container.l-wside-l {
    grid-template-columns: 1fr 2fr;
  }
  .container.l-side-r {
    grid-template-columns: 3fr 1fr;
  }
  .container.l-side-l {
    grid-template-columns: 1fr 3fr;
  }

  .span {
    padding: 0 12px;
  }
}
@media (min-width: 1480px) {
  .container {
    width: 1260px;
    gap: 0;
    padding: 0 0;
  }

  .span {
    padding: 0 18px;
  }
}
@media (min-width: 720px) and (max-width: 1139px) {
  .container {
    width: 100%;
    max-width: 980px;
    padding: 0 0;
  }
  .container.m-sp-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .container.m-sp-3 {
    grid-template-columns: repeat(3, 1fr);
  }
  .container.m-sp-4 {
    grid-template-columns: repeat(4, 1fr);
  }
  .container.m-sp-5 {
    grid-template-columns: repeat(5, 1fr);
  }
  .container.m-sp-6 {
    grid-template-columns: repeat(6, 1fr);
  }
  .container.m-wside-r {
    grid-template-columns: 2fr 1fr;
  }
  .container.m-wside-l {
    grid-template-columns: 1fr 2fr;
  }
  .container.m-side-r {
    grid-template-columns: 3fr 1fr;
  }
  .container.m-side-l {
    grid-template-columns: 1fr 3fr;
  }

  .span {
    padding: 0 6px;
  }
}
@media (min-width: 120px) and (max-width: 719px) {
  .container {
    width: 100%;
    max-width: 640px;
    padding: 0 6px;
  }
  .container.s-sp-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .container.s-sp-3 {
    grid-template-columns: repeat(3, 1fr);
  }

  .span {
    padding: 0 6px;
  }
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.red {
  color: red;
}

.red-light {
  color: #ffb3b3;
}

.red-dark {
  color: #800101;
}

@media (min-width: 1140px) {
  body {
    font-size: 18px;
  }
}
@media (min-width: 720px) and (max-width: 1139px) {
  body {
    font-size: 16px;
  }
}
@media (min-width: 120px) and (max-width: 719px) {
  body {
    font-size: 14px;
  }
}
body {
  color: #666666;
  margin: 0;
  padding: 50px 0;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 18px;
  font-weight: 300;
  background: white;
}

h1 {
  color: #d8531e;
  font-weight: 300;
  margin: 0 0 0.25em 0;
  font-size: 48px;
}

h2 {
  color: #d8531e;
  font-weight: 300;
  margin: 0 0 0.25em 0;
  font-size: 36px;
}

h3 {
  color: #333333;
  font-weight: 300;
  margin: 0;
  font-size: 32px;
  padding: 12px 0;
}

p {
  margin: 0 0 21px 0;
}

.big {
  font-weight: bold;
  font-size: 4em;
}

a {
  color: #d8531e;
}

section {
  margin-bottom: 50px;
}

.box {
  margin: 0 0 12px 0;
  padding: 12px;
  background: #333;
  color: #f6f6f6;
  flex: 1 1 auto;
}
.box p {
  margin: 0;
}

.code {
  font-family: "Courier New", serif;
  font-size: 14px;
}

.nesting {
  background-color: #ffffdf;
  margin-bottom: 20px;
}
.nesting .nesting {
  background-color: #ffe7df;
}

pre {
  border: 1px solid #cccccc;
  background-color: #f9f9f9;
  padding: 12px;
  margin: 0;
  overflow: auto;
}

@media (min-width: 1140px) {
  .box {
    margin-bottom: 24px;
    padding: 12px;
  }
}
@media (min-width: 1480px) {
  .box {
    margin-bottom: 36px;
    padding: 18px;
  }
}

/*# sourceMappingURL=sample.css.map */
