/*
 * Hoisin sauce
 * CSS Framework boilerplate
 * Create your own grids, plugin anything
 * Version: 0.9
 *
 */
body {
  color: black;
  background: white;
}

.colr {
  float: right;
  margin: 0 10px;
}

.alpha {
  margin-left: 0;
}

.omega {
  margin-right: 0;
}

.clear {
  clear: both;
}
