/*
 * Hoisin.scss
 * CSS responsive framework boilerplate
 * Create your own grids, plugin anything
 * Version: 0.9.13
 * Created by: Cyber-Duck Ltd <info@cyber-duck.co.uk>,
 *             Ramon Lapenta <me@ramonlapenta.com>
 *
 */
@media (min-width: 1024px) {
  .container {
    margin: 0 auto;
    width: 960px;
  }
  .container:after {
    clear: both;
    content: '';
    display: block;
  }
  .col2 > .container {
    margin: 0 0 0 -10px;
    width: 160px;
  }
  .col3 > .container {
    margin: 0 0 0 -10px;
    width: 240px;
  }
  .col4 > .container {
    margin: 0 0 0 -10px;
    width: 320px;
  }
  .col5 > .container {
    margin: 0 0 0 -10px;
    width: 400px;
  }
  .col6 > .container {
    margin: 0 0 0 -10px;
    width: 480px;
  }
  .col7 > .container {
    margin: 0 0 0 -10px;
    width: 560px;
  }
  .col8 > .container {
    margin: 0 0 0 -10px;
    width: 640px;
  }
  .col9 > .container {
    margin: 0 0 0 -10px;
    width: 720px;
  }
  .col10 > .container {
    margin: 0 0 0 -10px;
    width: 800px;
  }
  .col11 > .container {
    margin: 0 0 0 -10px;
    width: 880px;
  }
  .col12 > .container {
    margin: 0 0 0 -10px;
    width: 960px;
  }
  .col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11, .col12 {
    float: left;
    margin: 0 10px;
  }
  .col2 {
    width: 140px;
  }
  .col3 {
    width: 220px;
  }
  .col4 {
    width: 300px;
  }
  .col5 {
    width: 380px;
  }
  .col6 {
    width: 460px;
  }
  .col7 {
    width: 540px;
  }
  .col8 {
    width: 620px;
  }
  .col9 {
    width: 700px;
  }
  .col10 {
    width: 780px;
  }
  .col11 {
    width: 860px;
  }
  .col12 {
    width: 940px;
  }
  .pre1 {
    margin-left: 90px;
  }
  .pre2 {
    margin-left: 170px;
  }
  .pre3 {
    margin-left: 250px;
  }
  .pre4 {
    margin-left: 330px;
  }
  .pre5 {
    margin-left: 410px;
  }
  .pre6 {
    margin-left: 490px;
  }
  .pre7 {
    margin-left: 570px;
  }
  .pre8 {
    margin-left: 650px;
  }
  .pre9 {
    margin-left: 730px;
  }
  .pre10 {
    margin-left: 810px;
  }
  .suf1 {
    margin-right: 80px;
  }
  .suf2 {
    margin-right: 160px;
  }
  .suf3 {
    margin-right: 240px;
  }
  .suf4 {
    margin-right: 320px;
  }
  .suf5 {
    margin-right: 400px;
  }
  .suf6 {
    margin-right: 480px;
  }
  .suf7 {
    margin-right: 560px;
  }
  .suf8 {
    margin-right: 640px;
  }
  .suf9 {
    margin-right: 720px;
  }
  .suf10 {
    margin-right: 800px;
  }
  .colr {
    float: right;
    margin: 0 10px;
  }
  .alpha {
    margin-left: 0;
  }
  .omega {
    margin-right: 0;
  }
  .clear {
    clear: both;
  }
  .center {
    float: none;
    margin: 0 auto;
  }
}

@media (min-width: 1360px) {
  .col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10 {
    float: left;
    margin: 0 15px;
  }
  .col12 {
    margin: 0 15px;
    width: 1170px;
  }
  .col2 {
    width: 170px;
  }
  .col3 {
    width: 270px;
  }
  .col4 {
    width: 370px;
  }
  .col5 {
    width: 470px;
  }
  .col6 {
    width: 570px;
  }
  .col7 {
    width: 670px;
  }
  .col8 {
    width: 770px;
  }
  .col9 {
    width: 870px;
  }
  .col10 {
    width: 970px;
  }
  .col11 {
    width: 1070px;
  }
  .pre1 {
    margin-left: 115px;
  }
  .pre2 {
    margin-left: 215px;
  }
  .pre3 {
    margin-left: 315px;
  }
  .pre4 {
    margin-left: 415px;
  }
  .pre5 {
    margin-left: 515px;
  }
  .pre6 {
    margin-left: 615px;
  }
  .pre7 {
    margin-left: 715px;
  }
  .pre8 {
    margin-left: 815px;
  }
  .pre9 {
    margin-left: 915px;
  }
  .pre10 {
    margin-left: 1015px;
  }
  .suf1 {
    margin-right: 115px;
  }
  .suf2 {
    margin-right: 215px;
  }
  .suf3 {
    margin-right: 315px;
  }
  .suf4 {
    margin-right: 415px;
  }
  .suf5 {
    margin-right: 515px;
  }
  .suf6 {
    margin-right: 615px;
  }
  .suf7 {
    margin-right: 715px;
  }
  .suf8 {
    margin-right: 815px;
  }
  .suf9 {
    margin-right: 915px;
  }
  .suf10 {
    margin-right: 1015px;
  }
  .container {
    width: 1200px;
  }
  .col2 > .container {
    margin: 0 0 0 -15px;
    width: 200px;
  }
  .col3 > .container {
    margin: 0 0 0 -15px;
    width: 300px;
  }
  .col4 > .container {
    margin: 0 0 0 -15px;
    width: 400px;
  }
  .col5 > .container {
    margin: 0 0 0 -15px;
    width: 500px;
  }
  .col6 > .container {
    margin: 0 0 0 -15px;
    width: 600px;
  }
  .col7 > .container {
    margin: 0 0 0 -15px;
    width: 700px;
  }
  .col8 > .container {
    margin: 0 0 0 -15px;
    width: 800px;
  }
  .col9 > .container {
    margin: 0 0 0 -15px;
    width: 900px;
  }
  .col10 > .container {
    margin: 0 0 0 -15px;
    width: 1000px;
  }
  .col11 > .container {
    margin: 0 0 0 -15px;
    width: 1100px;
  }
  .col12 > .container {
    margin: 0 0 0 -15px;
    width: 1200px;
  }
  .colr {
    float: right;
    margin: 0 15px;
  }
  .alpha {
    margin-left: 0;
  }
  .omega {
    margin-right: 0;
  }
  .clear {
    clear: both;
  }
  .center {
    float: none;
    margin: 0 auto;
  }
}

@media (min-width: 680px) and (max-width: 1023px) {
  .wrap {
    overflow: hidden;
    width: 100%;
  }
  .container {
    width: 100%;
    padding: 0 5px;
    box-sizing: border-box;
  }
  .container::after {
    clear: both;
    content: '';
    display: block;
  }
  .container .container {
    width: 102%;
    width: calc(100% + 20px);
    margin-left: -10px;
  }
  .col12,
  .col11,
  .col10,
  .col9,
  .col8,
  .col7 {
    margin: 0;
    padding: 0 5px;
    width: 100%;
    box-sizing: border-box;
  }
  .col6,
  .col5,
  .col4,
  .col3 {
    float: left;
    margin: 0;
    padding: 0 5px;
    width: 50%;
    box-sizing: border-box;
  }
  .col2 {
    float: left;
    margin: 0;
    padding: 0 5px;
    width: 33.33%;
    box-sizing: border-box;
  }
  .m-full {
    width: 100%;
  }
  .m-full.colr {
    float: none;
  }
  .m-half {
    float: left;
    width: 50%;
  }
  .m-1_3 {
    float: left;
    width: 33.33%;
  }
  .m-2_3 {
    float: left;
    width: 66.66%;
  }
  .colr {
    float: right;
  }
  .alpha {
    margin-left: 0;
  }
  .omega {
    margin-right: 0;
  }
  .clear {
    clear: both;
  }
  .center {
    float: none;
    margin: 0 auto;
  }
}

@media (min-width: 120px) and (max-width: 679px) {
  .wrap {
    overflow: hidden;
    width: 100%;
  }
  .container {
    width: 100%;
    padding: 0 5px;
    box-sizing: border-box;
  }
  .container:after {
    clear: both;
    content: '';
    display: block;
  }
  .container .container {
    width: 102%;
    width: calc(100% + 20px);
    margin-left: -10px;
  }
  .col12,
  .col11,
  .col10,
  .col9,
  .col8,
  .col7,
  .col6,
  .col5,
  .col4,
  .col3 {
    margin: 0;
    padding: 0 5px;
    width: 100%;
    box-sizing: border-box;
  }
  .col2 {
    float: left;
    margin: 0;
    padding: 0 5px;
    width: 50%;
    box-sizing: border-box;
  }
  .s-full {
    float: none;
    margin: 0;
    padding: 0 5px;
    width: 100%;
    box-sizing: border-box;
  }
  .s-half {
    float: left;
    margin: 0;
    padding: 0 5px;
    width: 50%;
    box-sizing: border-box;
  }
  .clear {
    clear: both;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.red {
  color: red;
}

.red-light {
  color: #ffb3b3;
}

.red-dark {
  color: maroon;
}

@media (min-width: 1024px) {
  body {
    font-size: 18px;
  }
}

@media (min-width: 680px) and (max-width: 1023px) {
  body {
    font-size: 16px;
  }
}

@media (min-width: 120px) and (max-width: 679px) {
  body {
    font-size: 14px;
  }
}

body {
  color: #666;
  margin: 0;
  padding: 50px 0;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 18px;
  font-weight: 300;
  background: white;
}

h2 {
  color: #d8531e;
  font-weight: 300;
  margin: 0;
  font-size: 48px;
  font-size: 48px;
}

h3 {
  color: #333;
  font-weight: 300;
  margin: 0;
  font-size: 36px;
  line-height: 36px;
  padding: 12px 0;
}

p {
  margin: 0 0 21px 0;
}

a {
  color: #d8531e;
}

section {
  margin-bottom: 50px;
}

.box {
  margin: 0 0 10px 0;
  padding: 10px;
  background: #F5F5F5;
}

@media (min-width: 1024px) {
  .box {
    margin-bottom: 20px;
    padding: 20px;
  }
}

@media (min-width: 1360px) {
  .box {
    margin-bottom: 30px;
    padding: 30px;
  }
}

.box p {
  margin: 0;
}

.code {
  font-family: "Courier New", serif;
  font-size: 14px;
}

.nesting {
  background-color: #FFFFDF;
  margin-bottom: 20px;
}

.nesting .nesting {
  background-color: #FFE7DF;
}

pre {
  border: 1px solid #CCC;
  background-color: #F9F9F9;
  padding: 10px;
  margin: 0;
  overflow: auto;
}

@media (min-width: 1024px) {
  .content {
    float: left;
    margin: 0 10px;
    width: 620px;
  }
}

@media (min-width: 1360px) {
  .content {
    margin: 0 15px;
    width: 770px;
  }
}

@media (min-width: 680px) and (max-width: 1023px) {
  .content {
    float: left;
    padding: 0 5px;
    width: 66.66%;
    box-sizing: border-box;
  }
}

@media (min-width: 680px) and (max-width: 1023px) {
  .content {
    float: left;
    padding: 0 5px;
    width: 66.66%;
    box-sizing: border-box;
  }
}

@media (min-width: 1024px) {
  .sidebar {
    float: right;
    margin: 0 10px;
    width: 300px;
  }
}

@media (min-width: 1360px) {
  .sidebar {
    margin: 0 15px;
    width: 370px;
  }
}

@media (min-width: 680px) and (max-width: 1023px) {
  .sidebar {
    float: right;
    padding: 0 5px;
    width: 33.33%;
    box-sizing: border-box;
  }
}

@media (max-width: 680px) {
  .sidebar {
    padding: 0 5px;
    box-sizing: border-box;
  }
}

@media (max-width: 680px) {
  .test {
    padding: 0 5px;
    box-sizing: border-box;
  }
}

/*# sourceMappingURL=maps/style.css.map */
