// Flexible grid elements
.container-flex {
    width: 100%;
    margin: 0 auto;

    &::after {
        content: '';
        display: block;
        clear: both;
    }
}

@media (min-width: $bp-l) {
    .container-flex {
        max-width: $flex-grid-max-width;
    }

    .col100 {
        width: 100%;
    }

    // Spans 3/4
    .col75 {
        width: 75%;
        float: left;
    }

    // Spans 2/3
    .col66 {
        width: 66.666666666666%;
        float: left;
    }

    // Spans 1/2
    .col50 {
        width: 50%;
        float: left;
    }

    // Spans 1/3
    .col33 {
        width: 33.333333333333%;
        float: left;
    }

    // Span 1/4
    .col25 {
        width: 25%;
        float: left;
    }

    // Spans 1/5
    .col20 {
        width: 20%;
        float: left;
    }

    // Spans 1/6
    .col16 {
        width: 16.666666666666%;
        float: left;
    }
}

// @media (min-width: $bp-xl) {

// }

@media (min-width: $bp-m) and (max-width: ($bp-l - 1)) {
    .col100 {
        width: 100%;
    }

    .col75 {
        width: 75%;
        float: left;
    }

    .col66 {
        width: 66.666666666666%;
        float: left;
    }

    .col50 {
        width: 50%;
        float: left;
    }

    .col33 {
        width: 33.333333333333%;
        float: left;
    }

    .col25 {
        width: 25%;
        float: left;
    }

    .col20 {
        width: 20%;
        float: left;
    }

    .col16 {
        width: 16.666666666666%;
        float: left;
    }
}

@media (min-width: $bp-s) and (max-width: ($bp-m - 1)) {
    .col100,
    .col75,
    .col50 {
        width: 100%;
    }

    .col-s-66 {
        width: 66.666666666666%;
        float: left;
    }

    .col-s-50 {
        width: 50%;
        float: left;
    }

    .col-s-33 {
        width: 33.333333333333%;
        float: left;
    }

    .col-s-25 {
        width: 25%;
        float: left;
    }
}
