// COLORS
$highlight:			#FA9200;
$orange_btm:		#FA5C05;

$error:             #FF0000;
$error_bg: 		    #FFE5E5;

$success: 		    #339900;
$success_bg: 	    #EAF5E5;

$info: 			    #3399FF;
$info_bg: 		    #EAF5FF;

$warning: 			#FFFF00;
$warning_bg: 		#FFFFE5;

$black:             #000;
$white:             #fff;
$text:              #000;
$title:				#000;

// Grid
$vgrid:				20px;
$col: 				60px;
$gutter:			20px;

// IMAGES
$img: 		    	"../img/";
$sprite: 		    "../img/sprite.png";
$font_dir: 		    "../fonts/";
	
// TYPOGRAPHY
$body_font: sans-serif;
$title_font: "serif";