/*
 * Hoisin sauce
 * CSS Framework boilerplate
 * Create your own grids, plugin anything
 * Version: 0.9
 *
 */

@import "vars";
@import "mixins";

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }

$wrap: $col-width * $col-qty + $gutter * ($col-qty - 1);
.container {
    width: $wrap + $gutter;
    margin: 0 auto;
}
@for $i from 2 through $col-qty {
    .col#{$i} {
        width: ($col-width * $i) + ($gutter * $i) - $gutter;
        float: left;
        margin: 0 $gutter/2;
    }
}
@for $i from 1 through ($col-qty - 1) {
    .pre#{$i} {
        padding-left: ($col-width * $i) + ($gutter * $i);
    }
}
@for $i from 1 through ($col-qty - 1) {
    .suf#{$i} {
        padding-right: ($col-width * $i) + ($gutter * $i);
    }
}

// Grid utilities
.colr {
    float: right;
    margin: 0 $gutter/2;
}
.alpha {
    margin-left: 0;
}
.omega {
    margin-right: 0;
}
.clear {
    clear: both;
}

// Import all sections and common files from desk folder
@import "large/home";
@import "large/nav";
@import "large/contact";