// * Grid system
// * Define the properties of the flexible container
// *
@use "sass:math";

// Output the grid only if variable set to true
.container {
    width: 100%;
    max-width: $s-max-width;
    padding: 0 math.div($gutter, 4);

    @for $i from 2 through 3 {
        &.s-sp-#{$i} {
            grid-template-columns: repeat(#{$i}, 1fr);
        }
    }
}

.span {
    padding: 0 math.div($gutter, 4);
}
