// *
// * Variables
// * Define colours for the project
// *
$highlight:				#f00;

$blue_lt: 				#64A2C7;
$blue: 					#3A7CA7;
$blue_dk: 				#10222E;

$pre: 					#F8F8F8;

$highlight:                     #fa9200;

$error:                         #ff0000;
$error-bg:                      #ffe5e5;

$success:                       #339900;
$success-bg:                    #eaf5e5;

$info:                          #3399ff;
$info-bg:                       #eaf5ff;

$warning:                       #ffff00;
$warning-bg:                    #ffffe5;

$black:                         #010101;
$white:                         #ffffff;
$text:                          $black;
$title:                         $black;
