@import "vars";
@import "mixins";

.wrap {
	overflow: hidden;
	width: 100%;
}
.col12, .col11, .col10, .col9, .col8, .col7, .full-tab {
	width: 96%;
	margin: 0 2%;
}
.col6, .col5, .col4, .col3, .half-tab {
	width: 46%;
	float: left;
	margin: 0 2%;
}
.col2, .third-tab {
	width: 29%;
	float: left;
	margin: 0 2.1%;
}
.container {
	width: 100%;
    &::after {
        content: " ";
        clear: both;
    }
}

@import "nav";
@import "home";
@import "contact";

// High definition displays
@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min-device-pixel-ratio: 1.3) {

}