@import "vars";
@import "mixins";

.wrap {
	overflow: hidden;
	width: 100%;
}
.container {
	width: 100%;
    &:after {
        content: " ";
        clear: both;
    }
}
.col12, .col11, .col10, .col9, .col8, .col7, .col6, .col5, .col4, .col3 {
	width: 100%;
	margin: 0;
	padding: 0 10px;
	@include box-sizing(border-box);
	.col12, .col11, .col10, .col9, .col8, .col7, .col6, .col5, .col4, .col3 {
		width: 100%;
		margin: 0;
		padding: 0;
	}
}
.col2 {
	width: 50%;
	float: left;
	margin: 0;
	padding: 0 10px;
	@include box-sizing(border-box);
}
.full-small {
	width: 100%;
	margin: 0;
	padding: 0 10px;
	@include box-sizing(border-box);
}
.half-small {
	width: 50%;
	float: left;
	margin: 0;
	padding: 0 10px;
	@include box-sizing(border-box);
}
.clear {
    clear: both;
}

body {
	font-size: 16px;
}

@import "nav";
@import "home";
@import "contact";

// High definition displays
@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min-device-pixel-ratio: 1.3) {

}