@import "version";

@import "vars";
@import "mixins";
@import "icons";

// Only styles common for all screen sizes
body {
	color: $text;
	margin: 0;
	padding: 0;
	font-family: $body_font;
	font-size: 18px;
	font-weight: 300;
	background: $white;
}
h2 {
	color: $highlight;
	font-weight: 300;
	margin: 0;
}
h3 {
	color: $title;
	font-weight: 300;
	margin: 0;
}
p {
	margin: 0 0 21px 0;
}
a {
	color: $highlight;
}
pre {
	padding: 20px;
	font-size: 20px;
	background-color: $pre;
}

.btn {
	display: inline-block;
	padding: 5px 10px 6px 10px;
	background-color: $blue;
	color: $white;
	text-decoration: none;
	border-radius: 4px;
	@include box-sizing();
	&:hover {
		background-color: darken($blue, 5%);
	}
}

.foot {
	padding: 40px 0;
	background: $blue_dk;
	color: $white;
	font-size: 16px;
}

.warning {
	background-color: $warning_bg;
	border: 1px solid $warning;
	padding: 10px;
	border-radius: 10px;
}
