@import 'vars';
@import 'mixins';

// * Grid system
// * Define the properties of the flexible container
// *

.wrap {
  overflow: hidden;
  width: 100%;
}

.container {
  width: 100%;
  &::after {
    clear: both;
    content: '';
    display: block;
  }

  .container {
    width: 102%;
    width: calc(100% + 20px);
    margin-left: -10px;
  }
}

.col12, 
.col11, 
.col10, 
.col9, 
.col8, 
.col7 {
  margin: 0;
  padding: 0 10px;
  width: 100%;
  @include box-sizing(border-box);
}

.col6, 
.col5, 
.col4, 
.col3 {
  float: left;
  margin: 0;
  padding: 0 10px;
  width: 50%;
  @include box-sizing(border-box);
}

.col2 {
  float: left;
  margin: 0;
  padding: 0 10px;
  width: 33.33%;
  @include box-sizing(border-box);
}

.full-medium {
  width: 100%;
  &.colr {
    float: none;
  }
}

.half-medium {
  float: left;
  width: 50%;
}

.one-third-medium {
  float: left;
  width: 33.33%;
}

.two-thirds-medium {
  float: left;
  width: 66.66%;
}

// * Additional grid utilities
.colr {
  float: right;
}

.alpha {
  margin-left: 0;
}

.omega {
  margin-right: 0;
}

.clear {
  clear: both;
}

.center {
  float: none;
  margin: 0 auto;
}

@import 'header';
@import 'home';
