// Contact page
.contact-details {
	padding: 10px 20px 20px 20px;
	&::after {
		content: " ";
		position: absolute;
		top: 100%;
		left: 50%;
		margin: 0 0 0 -15px;
		display: block;
		width: 0;
		height: 10px;
		border-top: 15px solid $gray_bg;
		border-right: 15px solid transparent;
		border-bottom: 15px solid transparent;
		border-left: 15px solid transparent;
	}
	article {
		float: left;
		width: 41%;
		padding: 0 0 0 8%;
		position: relative;
		&::after {
			content: " ";
			display: block;
			position: absolute;
			width: 30px;
			height: 30px;
			top: 20px;
			left: 0;
			background-image: url('#{$sprite}');
		}
		&.contact-email {
			&::after {
				background-position: -710px -1160px;
			}
		}
		&.contact-phone {
			&::after {
				background-position: -710px -1220px;
			}
			a {
				text-decoration: none;
				cursor: default;
				color: $text;
			}
		}
		&.contact-office {
			&::after {
				background-position: -710px -1280px;
			}
		}
		&.contact-london {
			&::after {
				background-position: -710px -1340px;
			}
		}
		&.contact-hours {
			&::after {
				background-position: -710px -1400px;
			}
		}
		&.contact-twitter {
			top: 0;
			&::after {
				background-position: -710px -1460px;
			}
		}
		address {
			margin: 0;
			padding: 10px 0 0 0;
		}
	}
}
.location {
	position: relative;
}
.map {
	height: 230px;
	margin-top: 48px;
}
#map {
	width: 100%;
	height: 230px;
	background: $gray_bg;
	img {
		width: auto;
		max-width: none;
	}
	h4 {
		padding: 0;
	}
}
.come-from {
	position: absolute;
	top: 5px;
	right: 5px;
	width: 180px;
	height: 36px;
	background: lighten($blue, 10%);
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
	z-index: 99;
	color: $white;
	font-size: 16px;
	@include transition(all linear 0.1s);
	li {
		margin: 0;
		padding: 0 10px;
		border-bottom: 1px dotted lighten($blue, 30%);
		&.come-top {
			line-height: 36px;
			height: 36px;
			cursor: pointer;
			background: $blue url('#{$sprite}') 0 -922px no-repeat;
		}
	}
	a {
		display: block;
		height: 32px;
		line-height: 30px;
		font-size: 14px;
		color: $white;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
	.come-from-form {
		margin: 0;
		padding: 10px 0;
		input[type="text"] {
			padding: 2px;
			width: 110px;
			height: 22px;
			line-height: 18px;
		}
	}
	&.opened {
		height: 214px;
		@include transition(all linear 0.1s);
		.come-top {
			background: $blue url('#{$sprite}') 0 -972px no-repeat;
		}
	}
}

.nojs {
	.location {
		display: none;
	}
}

.form {
	margin: 0;
	padding: 20px 0;
	.field {
		padding: 10px;
	}
	label {
		display: block;
		clear: both;
		font-size: 18px;
		font-weight: bold;
	}
	.field-submit {
		text-align: left;
		padding: 10px;
		max-width: 442px;
	}
	.field-error {
		input[type="text"], input[type="email"], input[type="tel"], input[type="url"], input[type="number"], input[type="date"], textarea {
			background: $white url('#{$sprite}') 402px -1394px no-repeat;
			border-color: $error;
		}
	}
	.field-success {
		input[type="text"], input[type="email"], input[type="tel"], input[type="url"], input[type="number"], input[type="date"], textarea {
			background: $white url('#{$sprite}') 402px -1154px no-repeat;
		}
	}
}