@import "vars";
@import "mixins";

// Grid system
$wrap: $col * 12 + $gutter * 11;
@for $i from 2 through 12 {
    .col#{$i} {
        width: $col * $i + $gutter * $i - $gutter;
        float: left;
        margin: 0 $gutter/2 $vgrid $gutter/2;
    }
}
@for $i from 1 through 11 {
    .pre#{$i} {
        padding-left: $col * $i + $gutter * $i;
    }
}
@for $i from 1 through 11 {
    .suf#{$i} {
        padding-right: $col * $i + $gutter * $i;
    }
}
.container {
	width: $wrap + $gutter;
	margin: 0 auto;
	padding-top: 1px;
}

// Large desktop
@media only screen and (min-width: 1360px) and (min-device-width: 1360px) {

	@import "large";

}


// High definition displays
@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min-device-pixel-ratio: 1.3) {

	@import "hd";

}