/*
 * Hoisin.scss
 * CSS responsive framework boilerplate
 * Create your own grids, plugin anything
 * Version: 0.9.6
 * Created by: Cyber-Duck Ltd <info@cyber-duck.co.uk>,
 *             Ramon Lapenta <me@ramonlapenta.com>
 *
 */
body {
  color: #666666;
  margin: 0;
  padding: 0;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 18px;
  font-weight: 300;
  background: white;
}

pre {
  padding: 20px;
  font-size: 20px;
  background-color: #f8f8f8;
}

.foot {
  padding: 40px 0;
  background: #10222e;
  color: white;
  font-size: 16px;
}
.foot a {
  color: #d8531e;
}
