// Home page
body {
	font-size: 16px;
}
.content {
	padding: 20px 0 40px 0;
}
h2 {
	font-size: 24px;
	line-height: 24px;
	padding: 12px 0;
}

h3 {
	font-size: 21px;
	line-height: 21px;
	padding: 12px 0;
}
p {
	margin: 0 0 21px 0;
}
.btn {
	width: 100%;
	margin: 0 0 5px 0;
	text-align: center;
}