// * Large screens grid system
// *
@use "sass:math";

.container {
    width: (($col-width * $col-qty) + ($gutter * ($col-qty - 1)));
    padding: 0 math-div($gutter-sides, 2);

    @for $i from 2 through 6 {
        &.l-sp-#{$i} {
            grid-template-columns: repeat(#{$i}, 1fr);
        }
    }

    // Spcial layouts (may leave out for flexibility)
    &.l-wside-r {
        grid-template-columns: 2fr 1fr;
    }

    &.l-wside-l {
        grid-template-columns: 1fr 2fr;
    }

    &.l-side-r {
        grid-template-columns: 3fr 1fr;
    }

    &.l-side-l {
        grid-template-columns: 1fr 3fr;
    }
}

.span {
    padding: 0 math.div($gutter, 2);
}
