// *
// * Grid system
// * Define the size of the container using extra large variables
// *

.container {
    width: (($xl-col-width * $col-qty) + ($xl-gutter * ($col-qty - 1)));
    gap: 0;
    padding: 0 ($xl-gutter-sides / 2);
}

.span {
    padding: 0 ($xl-gutter / 2);
}