// Body
@use "../variables/global";
@use "../mixins";

body {
    margin: 0;
    padding: 0;
    font-family: global.$body-font;
}

// @include mixins.respond(lg) {

// }

// @include mixins.respond(xl) {

// }

// @include mixins.respond(md) {

// }

// @include mixins.respond(sm) {

// }