// Body
body {
	color: $text;
	margin: 0;
	padding: 50px 0 0 0;
	font-family: $body-font;
	font-size: 18px;
    line-height: 1.45;
	font-weight: 300;
	background: $white;
}

.content {
	padding: 40px 0;
}

h1 {
	color: $title;
	font-family: $title-font;
	font-weight: 700;
	margin: 0;
    line-height: 1.2;
}
h2 {
	font-size: 2.369em;
	color: $title;
	font-family: $title-font;
	font-weight: 700;
	margin: 0 0 1em 0;
    line-height: 1.2;
}
h3 {
	font-size: 1.777em;
	color: $title;
	font-family: $title-font;
	font-weight: 300;
	margin: 0 0 0.5em 0;
    line-height: 1.2;
}
h4 {
	font-size: 1.333em;
    line-height: 1.2;
	font-weight: 300;
	margin: 0 0 0.5em 0;
}
p {
	margin: 0 0 1.3em 0;
	&.hero {
		font-family: $title-font;
		font-style: italic;
	}
}

small, .font_small {font-size: 0.75em;}

a {
	color: $highlight;
}
pre {
	padding: 20px;
	font-size: 14px;
	background-color: $pre;
}
.box {
	padding: 10px;
	margin: 0 0 10px 0;
	background: rgba(160,160,160,0.10);
}

.btn {
	display: inline-block;
	padding: 5px 10px 6px 10px;
	background-color: $text;
	color: $white;
	text-decoration: none;
	border-radius: 4px;
	@include box-sizing();
	&:hover {
		background-color: darken($text, 5%);
	}
}

.box p {
	margin: 0;
}
.code {
	font-family: "Courier New", serif;
	font-size: 14px;
}
.nesting {
	background: rgba(255,244,106,0.10);
	margin-bottom: 20px;
}
.nesting .nesting {
	background: rgba(223,251,191,0.30);
}

.quote {
	background-color: $pre;
	blockquote {
		margin: 0;
		padding: 2em 0 0 0;
	}
	p {
		font-size: 1.777em;
		line-height: 1.2em;
		font-family: $title-font;
		font-style: italic;
	}
	.author {
		font-size: .9em;
		text-align: right;
		margin: 0;
	}
	&#quote {
		padding: 20px 0;
	}
}

.foot {
	padding: 40px 0;
	background: $title;
	color: $white;
	font-size: 16px;
}

.warning {
	background-color: $warning_bg;
	border: 1px solid $warning;
	padding: 10px;
	border-radius: 10px;
}

@media (min-width: $bp-l) {

	body {
		font-size: 18px;
	}
	.box {
		margin: 0 0 20px 0;
	}
}

@media (min-width: $bp-xl) {

	body {
		font-size: 20px;
	}
	.box {
		margin: 0 0 30px 0;
	}

}
@media (min-width: $bp-m) and (max-width: ($bp-l - 1)) {

	body {
		font-size: 16px;
	}

}
@media (min-width: $bp-s) and (max-width: ($bp-m - 1)) {
	
	body {
		font-size: 16px;
	}
	.content {
		padding: 20px 0 40px 0;
	}
	h2 {
		font-size: 2em;
	}
	.btn {
		width: 100%;
		margin: 0 0 5px 0;
		text-align: center;
	}

}