// Body
@use "../variables/global" as *;
@use "../variables/colors" as *;
@use "../mixins";

// Main navigation
.head {
	padding: 24px 0;
	color: $white;
	position: relative;
	background: {
		color: $title;
	}
}
.logo {
	padding: 10px 0;
	h1 {
		margin: 0 auto 24px auto;
		width: 240px;
		height: 50px;
	}
	a {
		display: block;
		width: 240px;
		height: 50px;
		text-indent: 300px;
		overflow: hidden;
		background: {
			image: url("#{$img}logo.png");
			size: 240px 50px;
		}
	}
	p {
		font-size: 1.777em;
		color: $white;
		text-align: center;
		margin: 0 20%;
	}
}

.menu-wrap {
	height: 50px;
	width: 100%;
	background-color: rgba($white, 0.75);
	position: fixed;
	top: 0;
	z-index: 11;
}
.btn-menu {
	display: none;
}
.menu {
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		text-align: center;
	}
	li {
		display: inline-block;
		margin: 0;
		padding: 0;
	}
	a {
		color: $title;
		font-size: 16px;
		text-transform: uppercase;
		display: block;
		padding: 10px 20px;
		line-height: 30px;
		text-decoration: none;
		&:hover {
			color: $highlight;
		}
		i {
			font-size: 14px;
		}
	}
}

@media (min-width: $bp-s) and (max-width: ($bp-m - 1)) {

	.head {
		color: $white;
		height: auto;
		position: relative;
		min-height: 50px;
		background: {
			color: $title;
		}
	}
	.logo {
		height: auto;
		h1 {
			margin: 0 auto;
		}
		a {
			display: block;
			margin: 0 auto;
			width: 120px;
			height: 46px;
			text-indent: 300px;
			overflow: hidden;
			background: {
				image: url("#{$img}logo.png");
				size: 120px 25px;
				position: 50%;
				repeat: no-repeat;
			}
		}
		p {
			margin: 0 0 10px 0;
			font-size: 1.333em;
		}
	}

	.menu-wrap {
		width: 100%;
		&.closed {
			.btn-menu {
				.icon-minus-outline {
					display: none;
				}
				.icon-menu-outline {
					display: block;
				}
			}
			.menu {
				height: 0;
				transition: all 250ms ease-out;
			}
		}
	}
	.btn-menu {
		display: block;
		float: right;
		width: 90px;
		height: 40px;
		margin: 4px;
		line-height: 40px;
		text-align: center;
		color: $title;
		text-decoration: none;
		text-transform: uppercase;
		.icon-menu-outline {
			display: none;
			float: left;
			width: 20px;
			height: 6px;
			border-top: 4px solid $text;
			border-bottom: 4px solid $text;
			margin-top: 12px;
		}
		.icon-minus-outline {
			display: block;
			float: left;
			width: 20px;
			height: 20px;
			border-top: 4px solid $text;
			margin-top: 16px;
		}
	}
	.menu {
		overflow: hidden;
		height: 173px;
		width: 100%;
		padding: 0;
		transition: all 250ms ease-out;
		ul {
			background-color: $white;
			margin: 2px 0 0 0;
			padding: 0;
			height: 170px;
			width: 100%;
			overflow: hidden;
			list-style: none;
		}
		li {
			display: block;
			margin: 0;
			padding: 0;
			width: 100%;
			box-sizing: border-box;
		}
		a {
			color: $title;
			font-size: 16px;
			text-transform: uppercase;
			display: block;
			padding: 10px 20px;
			line-height: 20px;
			text-decoration: none;
			&:hover {
				color: $highlight;
			}
			i {
				font-size: 14px;
			}
		}
	}

}