// Component name
@use "sass:math";

body {
    color: #666666;
    margin: 0;
    padding: 50px 0;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    font-weight: 300;
    background: white;
}

h1 {
    color: #d8531e;
    font-weight: 300;
    margin: 0 0 0.25em 0;
    font-size: 48px;
}

h2 {
    color: #d8531e;
    font-weight: 300;
    margin: 0 0 0.25em 0;
    font-size: 36px;
}

h3 {
    color: #333333;
    font-weight: 300;
    margin: 0;
    font-size: 32px;
    padding: 12px 0; 
}

p {
    margin: 0 0 21px 0;
}

.big {
    font-weight: bold;
    font-size: 4em;
}

a {
    color: #d8531e;
}

section {
    margin-bottom: 50px;
}

.box {
    margin: 0 0 math.div($gutter, 2) 0;
    padding: math.div($gutter, 2);
    background: #333;
    color: #f6f6f6;
    flex: 1 1 auto;

    p {
        margin: 0;
    }
}

.code {
    font-family: 'Courier New', serif;
    font-size: 14px;
}

.nesting {
    background-color: #ffffdf;
    margin-bottom: 20px;

    .nesting {
        background-color: #ffe7df;
    }
}

pre {
    border: 1px solid #cccccc;
    background-color: #f9f9f9;
    padding: math.div($gutter, 2);
    margin: 0;
    overflow: auto;
}

@media (min-width: $bp-l) {
    .box {
        margin-bottom: $gutter;
        padding: math.div($gutter, 2);
    }
}

@media (min-width: $bp-xl) {
    .box {
        margin-bottom: $xl-gutter;
        padding: math.div($xl-gutter, 2);
    }
}

// @media (min-width: $bp-m) and (max-width: ($bp-l - 1)) {

// }

// @media (min-width: $bp-s) and (max-width: ($bp-m - 1)) {

// }
