.home {
	#wrap {
		background-image: none;
	}
}
// Slideshow 
.home-slideshow {
	height: 376px;
	margin: 46px 0 15px 0;
	@include box-shadow(1px, 1px, 4px, 0, rgba(0,0,0,0.4));
	.carousel-nav {
		padding: 15px 0 0 0;
		text-align: center;
		width: 250px;
		margin: 0 auto;
		a {
			display: block;
			float: left;
			width: 60px;
			height: 36px;
			margin: 0 0 0 20px;
			overflow: hidden;
			text-indent: -200px;
		}
		.pause {
			background-image: url('#{$sprite}');
			background-position: -360px -640px;
			&.paused {
				background-image: url('#{$sprite}');
				background-position: -430px -640px;
			}
		}
		.prev {
			background-image: url('#{$sprite}');
			background-position: -290px -640px;
		}
		.next {
			background-image: url('#{$sprite}');
			background-position: -500px -640px;
		}
	}
}
.carousel {
	height: 310px;
	ul {
		margin: 0;
		padding: 0;
		li {
			h3 {
				color: $white;
				margin: 0;
				padding: 4px 0 10px 0;
				font-size: 22px;
			}
			p {
				padding: 0 0;
				font-size: 17px;
				line-height: 20px;
			}
			.banner-text {
				padding: 10px;
				position: absolute;
				bottom: 0;
				left: 0;
				height: 100px;
				color: $white;
				.banner-logo {
					display: none;
				}
				.case-study {
					display: none;
				}
			}
			& > div {
				height: 310px;
				position: relative;
			}
		}
	}
}
.item-1 {
	background: $white url('#{$img}carousel/optima/background-optima-m.jpg') 50% 0 no-repeat;
	@include opacity(0);
	@include transition-dur(1s);
	.optiman, .computer, .skyline, .tablet, .phone {
		display: none;
	}
	.banner-text {
		background: #0078CE;
		.banner-logo {
			background: #2A8FD7;
		}
	}
}
.item-2 {
	background: $white url('#{$img}carousel/arsenal/background-arsenal-m.jpg') 50% 0 no-repeat;
	@include opacity(0);
	@include transition-dur(1s);
	.score, .dinosaur, .notepad {
		display: none;
	}
	.banner-text {
		background: #C92739;
	}
}
.item-3 {
	background: $white url('#{$img}carousel/jda/background-tfh-m.jpg') 50% 0 no-repeat;
	@include opacity(0);
	@include transition-dur(1s);
	.cloud, .pelican, .lion, .monkey {
		display: none;
	}
	.banner-text {
		background: #937339;
		.banner-logo {
			background: #B69558;
		}
	}
}
.item-4 {
	background: $white url('#{$img}carousel/dmd/background-dmd-m.jpg') 50% 0 no-repeat;
	@include opacity(0);
	@include transition-dur(1s);
	.banner-text {
		background: #DA9402;
	}
}
.item-5 {
	background: $white url('#{$img}carousel/retireeasy/background-retireeasy-m.jpg') 50% 0 no-repeat;
	@include opacity(0);
	@include transition-dur(1s);
	.tablet, .phone, .eiffel, .train, .bigben {
		display: none;
	}
	.banner-text {
		background: #1C9C5F;
	}
}
.animate-in {
	top: 0;
	left: 0;
	.item-1 {
		@include opacity(1);
		@include transition-dur(1s);
	}
	.item-2 {
		@include opacity(1);
		@include transition-dur(1s);
	}
	.item-3 {
		@include opacity(1);
		@include transition-dur(1s);
	}
	.item-4 {
		@include opacity(1);
		@include transition-dur(1s);
	}
	.item-5 {
		@include opacity(1);
		@include transition-dur(1s);
	}
}

// Intro
.home-intro {
	text-align: center;
	padding: 10px 0;
	a {
		color: $gray;
		border-bottom: 1px dotted $gray_lt;
		text-decoration: none;
		&:hover {
			border-bottom: 1px solid $gray;
		}
	}
	h2 {
		font-size: 22px;
		line-height: 25px;
		margin: 0;
		padding: 0 0 10px 0;
		text-shadow: 2px 2px 0 #FFF;
		a {
			color: $title;
			text-decoration: none;
			height: auto;
		}		
	}
	p {
		font-family: $title_font;
		color: $gray;
		font-size: 17px;
		padding: 0 0 20px 0;
	}
}

// Home content
.home-content {
	padding: 30px 0 10px 0;
	article {
		border-top: 1px solid $blue_hl;
		padding-top: 20px;
		&.first {
			border-top: 0;
		}
	}
}
.home-inverted {
	background: $blue;
	color: $white;
	h2, h3 {
		color: $white;
	}
	.ruler {
		border-color: $blue_hl;
	}
}
.home {
	.clear.ruler { 
		border-color: $white; 
	}
	.foot-wrap {
		background: $white;
		color: $text;
	}
	.foot {
		background: $white url('#{$img}page-arrow-home.png') 50% -60px no-repeat;
		color: $text;
		h3, h4 {
			color: $title;
			text-shadow: none;
		}
	}
	.foot-switch {
		border-color: $gray_lt;
		a {
			border-color: $white;
			color: $title;
			text-shadow: none;
			padding: 20px 0 1px 0;
		}
		.foot-sw-cont {
			display: block;
			b {
				background: url('#{$sprite}') 1px -604px no-repeat;
			}
			&.closed {
				b {
					background: url('#{$sprite}') -33px -605px no-repeat;
				}
			}
		}
	}
	.foot-social {
		a {
			background-color: $gray_bg;
			background-image: url('#{$sprite}');
			&.lnk-facebook {
				background-position: 0 -440px;
				&:hover {
					background-position: 0 -500px;
				}
			}
			&.lnk-twitter {
				background-position: -60px -440px;
				&:hover {
					background-position: -60px -500px;
				}
			}
			&.lnk-linkedin {
				background-position: -120px -440px;
				&:hover {
					background-position: -120px -500px;
				}
			}
			&.lnk-meetup {
				background-position: -180px -440px;
				&:hover {
					background-position: -180px -500px;
				}
			}
			&.lnk-youtube {
				background-position: -240px -440px;
				&:hover {
					background-position: -240px -500px;
				}
			}
			&.lnk-flickr {
				background-position: -300px -440px;
				&:hover {
					background-position: -300px -500px;
				}
			}
		}
	}
	.end {
		border-top: 1px solid $gray_lt;
		a {
			color: $text;
		}
	}
}
