// * Grid system
// * Define the properties of the flexible container
// *

// Output the grid only if variable set to true
.container {
    width: 100%;
    margin: 0 auto;
    gap: 0;
    padding: 0 ($gutter-sides / 4);
    box-sizing: border-box;
    justify-items: stretch;

    &.m-sp-4 {
        grid-template-columns: repeat(4, 1fr);
    }

    &.m-wside-r {
        grid-template-columns: 2fr 1fr;
    }

    &.m-wside-l {
        grid-template-columns: 1fr 2fr;
    }

    &.m-side-r {
        grid-template-columns: 3fr 1fr;
    }

    &.m-side-l {
        grid-template-columns: 1fr 3fr;
    }
}

.span {
    padding: 0 ($gutter / 4);
    box-sizing: border-box;
    display: flex;
}

// * Additional grid utilities
.colr {
    float: right;
}

.alpha {
    margin-left: 0;
    padding-left: 0;
}

.omega {
    margin-right: 0;
    padding-right: 0;
}

.clear {
    clear: both;
}

.center {
    float: none;
    margin: 0 auto;
}

// * Show or hide elements by breakpoint
.m-hide {
    display: none;
}

.m-show-block {
    display: block;
}

.m-show-inline {
    display: inline;
}

.s-show-block,
.s-show-block,
.l-show-inline,
.l-show-inline {
    display: none;
}
