// * Grid system
// * Define the properties of the flexible container
// *
@use "sass:math";

// Output the grid only if variable set to true
.container {
    width: 100%;
    max-width: $m-max-width;
    padding: 0 math.div($gutter, 4);

    @for $i from 2 through 6 {
        &.m-sp-#{$i} {
            grid-template-columns: repeat(#{$i}, 1fr);
        }
    }

    &.m-wside-r {
        grid-template-columns: 2fr 1fr;
    }

    &.m-wside-l {
        grid-template-columns: 1fr 2fr;
    }

    &.m-side-r {
        grid-template-columns: 3fr 1fr;
    }

    &.m-side-l {
        grid-template-columns: 1fr 3fr;
    }
}

.span {
    padding: 0 math.div($gutter, 4);
}

