// Main navigation
.head {
	height: 140px;
	padding: 10px 0;
	color: $white;
	position: relative;
	background: {
		color: $blue_dk;
		image: url("#{$img}bg-large-head.jpg");
		position: 50% 50px;
		attachment: fixed;
		repeat: no-repeat;
	}
	&:before {
		content: "";
		display: block;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 50%;
		border-right: 10px solid transparent;
		border-bottom: 10px solid $white;
		@include box-sizing();
	}
	&:after {
		content: "";
		display: block;
		position: absolute;
		bottom: 0;
		right: 0;
		width: 50%;
		border-left: 10px solid transparent;
		border-bottom: 10px solid $white;
		@include box-sizing();
	}
}
.logo {
	width: 240px;
	height: 50px;
	margin: 38px auto 0 auto;
	h1 {
		margin: 0;
	}
	a {
		display: block;
		width: 240px;
		height: 50px;
		text-indent: 300px;
		overflow: hidden;
		background: {
			image: url("#{$img}logo.png");
			size: 240px 50px;
		}
	}
}

.menu-wrap {
	height: 50px;
	width: 100%;
	background-color: transparentize($white, .1);
	position: fixed;
	top: 0;
	border-bottom: 1px solid $blue;
}
.btn-menu {
	display: none;
}
.menu {
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		text-align: center;
	}
	li {
		display: inline-block;
		margin: 0;
		padding: 0;
	}
	a {
		color: $blue_lt;
		font-size: 16px;
		text-transform: uppercase;
		display: block;
		padding: 10px;
		line-height: 30px;
		text-decoration: none;
		&:hover {
			color: $highlight;
		}
		i {
			font-size: 14px;
		}
	}
}