// Home page styles
body {
	padding-top: 50px;
	font-size: 16px;
}
.content {
	padding: 40px 0;
}
h2 {
	font-size: 36px;
	color: $highlight;
	font-weight: 300;
	line-height: 36px;
	margin: 0;
	padding: 24px 0;
}

h3 {
	font-size: 24px;
	color: $title;
	font-weight: 300;
	line-height: 24px;
	margin: 0;
	padding: 12px 0;
}
p {
	margin: 0 0 24px 0;
}